body{
		background-image: url("img6.jpg");
}

h1{
		text-align: center;
		color: #B22222;
		font-size: 45px;
}

p{
		text-align: center;
		color: #B22222;
		font-size: 20px;
		font-style: bold;
}

form{
		margin-left: 750px;
		margin-top: 30px;
}

span{
		color: #B22222;
		font-size: 15px;
		font-style: bold;
}

button[type=submit] {
	font-weight: bold;
    width: 30%;
    background-color: grey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
	border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}